* {
    box-sizing: border-box;
}
/*
div, section, header, p, span {
    border: 1px solid red
}
*/
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Archivo', sans-serif;
    background-position: center;
    background-size: cover;
    background-image: url(photo-11.jpg);
    background-repeat: no-repeat;
}

#container {
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    
}

#header{
    height: 60px;
    width: 90%;
    background-color: rgba(0,0,0, 0.5);
    margin: 0px auto;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
}

.nav-left {
    
    color:  #fff;
    display: flex;

}
.nav-title {
    font-size: 2.0em;
    padding: 15px;
    line-height: 20px;
}
.nav-left .nav-menu {
    flex-grow: 1;
}
.nav-menu ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 50px;
}
.nav-right {

    display: flex;
    justify-content: flex-end;
    flex-grow:1;
    width: 20px;
    height: 50px;
    
}
.nav-right div {
    border-radius: 6px;
    width: 60px;
    height: 65px;
}
.nav-right-search{
    background-color: whitesmoke;
    background-image: url(search.svg);
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
}
.nav-right-profile{
    background-color: gray;
    background-image: url(contact.svg);
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
}
.nav-right-cart{
    background-color: yellow;
    background-image: url(cart.svg);
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
}

h1{
    border:50px;width:20px;
    font-size: 40px;
    padding-top:100px;
    color: white;
    justify-content: baseline;
}
p{
    font-size:16px;
    color:white;
    text-transform:uppercase;
    
}
span{
    font-size: 8px;color: #ffd600;
}

footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    
    
}
.pict1{
    width:600px;
    height:300px;
    display:flex;
    flex-direction:column;
    flex-grow: 1;    
}
.p1top{
    width:600px;
    height:50px;
    background-image: url(arrow-left.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    float: right;
    background-position: 500px;

}
.p1tr{
    width:70px;
    height:50px;
    float:right;
    background-color:yellow;
    background-image: url(arrow-right.svg);
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat
}
.p1base{
    width:600px;
    height:250px;
    background-color: rgb(32, 32, 32);
}
.base-inner{
    height:220px;
    width:500px;
    padding:10px;
    margin:18px;margin-left:40px;
    background-color:rgb(8, 7, 7);
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
}
.pict2{
    width:400px;
    height:300px;
    background-image: url(photo-12.jpg);
    
}
.p2r{
    width:70px;
    height:50px;
    float:right;
    background-color:yellow;
    margin-top:250px;
    background-image: url(arrow.svg);
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
}
.pict3{
    width:400px;
    height:300px;
    background-image: url(photo-9.jpg);
}
.p3r{
    width:70px;
    height:50px;
    float:right;
    background-color:yellow;
    margin-top:250px;
    background-image: url(arrow.svg);
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    
    
}

.sct1{
    display:flex;
    border-bottom: white;
    width:470px;
   
}
.sct2{
    display:flex;
    margin-top:8px;
    border-bottom: white;
    width:470px;
    
      
}
.sct3{
    display:flex;
    margin-top:8px;
    border-bottom: white;
    width:470px;
    
}
.sct4{
    display:flex;
    margin-top:8px;
    border-bottom: white;
    width:470px;
   
}
.sp1{
    background-image: url(photo-13.jpg);
    background-position: center;
    background-size: cover;
    height:50px;
    width:50px;
}
.sp2{
    background-image: url(photo-8.jpg);
    background-position: center;
    background-size: cover;
    height:50px;
    width:50px;
}
.sp3{
    background-image: url(photo-10.jpg);
    background-position: center;
    background-size: cover;
    height:50px;
    width:50px;
}
.sp4{
    background-image: url(photo-7.jpg);
    background-position: center;
    background-size: cover;
    height:50px;
    width:50px;
}
.b1,.b2,.b3,.b4{
    float: right;
}